*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Goldman', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background: black;
    color: white;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin: 60px 0 40px 0;
    color: #00ff08;
}

.slider {
    max-width: 900px;
    max-height: 600px;
    width: 90%;
    margin: 40px auto;
    position: relative;
}

.slider-container {
    width: 100%;
    display: flex;
}

.slider-box {
    min-width: 100%;
    box-sizing: border-box;
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.slider-box.ativo {
    display: block;
}

.slider-box img {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.setas {
    position: absolute;
    top: 50%;
    width: 115%;
    left: -7.5%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 2;
}

.setas button {
    background-color: transparent;
    border: solid 1px whitesmoke;
    color: whitesmoke;
    font-size: 0.9rem;
    cursor: pointer;
    padding: 17px;
    border-radius: 20%;
    transition: background 0.3s;
}

.setas button:hover {
    background-color: #00ff08;
    transition: 0.3s;
    transform: scale(1.05);
}

.btn-nav-box {
    margin-top: 20px;
    justify-content: center;
    display: flex;
    gap: 12px;
}

.btn-nav {
    width: 30px;
    height: 10px;
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-radius: 15%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-nav.ativo {
    background-color: #00ff08;
}

.btn-nav:hover {
    background-color: #00ff08;
}
